{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="section">
    <h3 class="title is-3">Leave us a message</h3>

    {{ form(form) }}
</div>
{% endblock %}
