{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="section">
        <h1 class="title is-3">Register</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            <button type="submit" class="button mt-4">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
